header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      gap: 0px 10px;
    }
  }

  .mytube-logo {
    font-size: $logo-font-size;
    i {
      color: $red;
      padding-right: 2px;
    }
  }
}
