extends ../base

block content
  if errorMessage
    h4= errorMessage

  form(method="POST")
    input(type="password", placeholder="Old Password", name="oldPassword")
    input(type="password", placeholder="New Password", name="newPassword")
    input(
      type="password",
      placeholder="New Password Confirmation",
      name="newPasswordConfirm"
    )
    input(type="submit", value="Change Password")
